{% extends "network/layout.html" %}

{% load static %}

{% block body %}
	<main>
		<h1>All Posts.</h1>
		<img src="{% static 'images/liked.png' %}" alt="Like">
		<img src="{% static 'images/unliked.png' %}" alt="Like">

		<div id="dislayPostForm">
			<form id="sendPostForm" action="{% url 'create_post' %}" method="post">
				{% csrf_token %}
				<h4>New post.</h4>
				<textarea name="" id="" cols="30" rows="10" placeholder='Write here.'></textarea>
				<input type="submit" value="Post">
			</form>
		</div>

		<div id="displayPosts">
		</div>
	</main>
{% endblock %}
