{% extends "network/layout.html" %}

{% block body %}
	<main>
		<h1>All Posts.</h1>

		<div id="dislayPostForm">
			<form id="sendPostForm" action="{% url 'create_post' %}" method="post">
				{% csrf_token %}
				<h4>New post.</h4>
				<textarea name="" id="" cols="30" rows="10" placeholder='Write here.'></textarea>
				<input type="submit" value="Post">
			</form>
		</div>

		<div id="displayPosts">
			TODO with js
			Example:
			<div class="post">
				<h4>Foo</h4>	
				<a href="">Edit</a>
				<p>Content</p>
				<p>March 29, 2023 10:40pm</p>
				<p>Icon likes</p>
				<div class="comments">
					<p>Comment 1</p>
					<p>Comment 2</p>
				</div>
				<button class="changeLike">Like +1</button>
			</div>
		</div>
	</main>
{% endblock %}
