{% extends "encyclopedia/layout.html" %}
{% block title %}
   Article
{% endblock %}
{% block body %}
    <h1>Django</h1>
    
    <p>Django is a web framework written using <a href="/wiki/Python">Python</a> that allows for the design of web applications that generate <a href="/wiki/HTML">HTML</a> dynamically.</p>
    
    <p>Python</p>
    
   <form action="/edit/{{ title }}">
       <p><input id="submit_edit_page" class="submit" type="submit"style="width: 80px; height:30px"value="Edit page"></p>
   </form>
{% endblock %}
