{% extends "encyclopedia/layout.html" %}
{% block title %}
   Article
{% endblock %}
{% block body %}
    <h1>Git</h1>
    
    <p>Git is a version control tool that can be used to keep track of versions of a software project.</p>
    
    <h2>GitHub</h2>
    
    <p>GitHub is an online service for hosting git repositories.</p>
    
   <form action="/edit/{{ title }}">
<p><input id="submit_edit_page" class="submit" type="submit"style="width: 80px; height:30px"value="Edit page"></p>
   </form>
{% endblock %}
