{% extends "encyclopedia/layout.html" %}
{% block title %}
   Article
{% endblock %}
{% block body %}
    <h1>HTML</h1>
    
    <p>HTML is a markup language that can be used to define the structure of a web page. HTML elements include</p>
    
    <ul>
    <li>headings</li>
    <li>paragraphs</li>
    <li>lists</li>
    <li>links</li>
    <li>and more!</li>
    </ul>
    
    <p>The most recent major version of HTML is HTML5.</p>
    
    <p>Html 6</p>
    
   <form action="/edit/{{ title }}">
       <p><input id="submit_edit_page" class="submit" type="submit"style="width: 80px; height:30px"value="Edit page"></p>
   </form>
{% endblock %}
