textarea {
	min-height: 400px;
}

header {
	display: flex;
	align-items: center;
}

header > button {
	height: 32px;
	margin: 2px;
}

header > a {
	height: 32px;
	margin: 2px;
}

#displayMessage {
	margin-left: auto;
	margin-right: 10px;
	max-width: 50%;
	max-height: 50%;
	padding: 10px;
	font-weight: bold;
	border-radius: 5px;
}
