textarea {
	min-height: 400px;
}

header {
	display: flex;
	align-items: center;
}

header > button {
	height: 32px;
	margin: 2px;
}

header > a {
	height: 32px;
	margin: 2px;
}

#displayMessage {
	margin-left: auto;
	margin-right: 10px;
	max-width: 50%;
	max-height: 50%;
	padding: 10px;
	font-weight: bold;
	border-radius: 5px;
}

.email {
	display: flex;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
}

.email .sender {
	font-weight: bold;
	margin-right: 5px;
}

.email .timestamp {
	color: grey;
	margin-left: auto;
}

#email-view button {
	margin: 2px;
}
