{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category</h2>
    <ol class="list-group">
      {% for category_data in categories %}
        {% for category_name, category_listings in category_data.items %}
          <li class="list-group-item">
            <h3 class="mb-0">{{ category_name }}</h3>
            <ul class="list-unstyled">
              {% for listings in category_listings %}
                {% for listing in listings %}
                  <li>
                    <div class="listing-info d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                          <strong class="mr-2">
                              <a href="{% url 'listing' listing.id %}">{{ listing.name }}</a>
                          </strong>
                        <span class="text-muted mb-0">{{ listing.cost }}$</span>
                      </div>
                      {% if listing.image_url %}
                        <div class="display-img ml-3">
                          <img src="{{ listing.image_url }}" alt="Image" class="img-fluid">
                        </div>
                      {% else %}
                        <div class="no-image ml-3">No image.</div>
                      {% endif %}
                    </div>
                  </li>
                {% empty %}
                  <li>No listings.</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      {% endfor %}
    </ol>
{% endblock %}
