{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Inactive Listings</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <p>
                    Name: <strong><a href="{% url 'inactive_listing' listing.id %}">{{ listing.name }}
                    </a></strong>, Cost: <strong>{{ listing.cost }}$</strong>
                    , winner: <strong>{{ listing.winner }}</strong>
                {% if listing.image_url %}
                    <br>
                    <div class="display-img">
                        <img src="{{ listing.image_url }}" alt="Image" style="width: 100px; height:auto">
                    </div>
                {% else %}
                    <br>No image.
                {% endif %}
                </p>                
            </li>
        {% empty %}
            No listings.    
        {% endfor %}
    </ul>
{% endblock %}
