{% extends "encyclopedia/layout.html" %}

{% block title %}
    App article
{% endblock %}

{% block body %}
    <h1>Add article</h1>
    <p><i>Use <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">markdown markup</a></i></p>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <textarea id="id_textarea" name="textarea"># Article Name</textarea>
        <p><input class="submit" type="submit" value="Send"></p>
    </form>
{% endblock %}
