#header {
    position: absolute;
    top: -10px;
    left: -8px;
    width: 100%;
    height: 55px;
    font-family: Caviar Dreams;
    background-color: #AF5E81; 
    border: 5px solid #AF5E81;
}


.button-buy button {
    top: 15px;
    position: relative;
    left: 1300px;
    background-color: white;
    font-size: 13px;
    width: 80px;
    height: 30px;
    color: #AF5E81;
    border: 0px solid transparent;
    border-radius: 7px; 
}

.button-buy button:hover {
    background-color: #e3dfe7;
}

.button-buy button:active {
    font-weight: bold;
    color: #de5e95;
}

.search input::-webkit-input-placeholder {
    color: white;
    font-family: Caviar Dreams;
    font-size: 17px;
}

.search input {
    position: relative;
    left: 1100px;
    top: -15px;
    background-color: transparent;
    color: white;
    height: 23px;
    width: 160px;
    border: 3px solid white;
    border-radius: 7px;
    font-size: 17px; 
}

.small-logo img {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: 45%;
    margin-top: -53px;
}

.panel-text pre {
    font-family: Caviar Dreams;
    color: white;
    margin: 5px;
    font-size: 16px;
    position: relative;
    top: -53px;
    left: 200px;
}

.header h1 {
    font-family: Caviar Dreams;
    position: relative;
    top: 60px;
    left: 39%;
    font-weight: 1000;
}

.size-image {
    width: 200px;
    height: 200px;
    border: 0px solid black;
    border-radius: 5px;
}

.perfume {
    font-family: Caviar Dreams;
    position: relative;
    left: 400px;
    top: 80px;
    margin-bottom: 1em;
}
.perfume-1, .perfume-2, .perfume-3 {
    width: 750px;
    height: 230px;
}

.perfume-2, .perfume-3 {
    margin-top: 30px
}

.perfume-1 h3, .perfume-3 h3, .perfume-1 span, .perfume-3 span {
    position: relative;
    left: 240px;
    bottom: 210px;
}

.text {
    width: 500px;
    height: 100px;
}

.transparent-button-buy {
    position: relative;
    left: 500px;
    bottom: 100px;
    color: #AF5E81;
    font-size: 13px;
    width: 80px;
    height: 30px;
    border-radius: 7px; 

    background-color: transparent;
    border: 2px solid #AF5E81;
}

.transparent-button-buy:hover {
    border: 2px solid #d8b0c2;
    color: #d8b0c2;
}

.transparent-button-buy:active {
    color: #de5e95;
    font-weight: bold;
    border: 2px solid #de5e95;
}


.perfume-1 button, .perfume-3 button{
    position: relative;
    left: 238px;
    top: -180px
}

.perfume-1 .href-more, .perfume-3 .href-more {
    position: relative;
    left: 340px;
    top: -222px;
}

.perfume-2 img {
    position: relative;
    left: 530px;
}

.perfume-2 h3, .perfume-2 .text {
    position: relative;
    bottom: 210px;
    text-align: right;
}

.perfume-2 h3 {
    right: 250px;
}

.perfume-2 .panel {
    position: relative;
    bottom: 100px;
    right: 80px;
}

.perfume-2 p {
    position: relative;
    left: 390px;
    bottom: 143px
}

.button-not-transparent button {
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    left: 240px;
    top: 50px;
    width: 200px;
    height: 40px;

    color: white;
    background-color: #AF5E81;
    border: 0px solid black;
    border-radius: 8px;
}

.button-not-transparent button:hover {
    border: 2px solid #d8b0c2;
    color: #d8b0c2;
}

.button-not-transparent button:active {
    background-color: #c397aa;
    border: 2px solid #ac3568;
    color: #ac3568;
}
