{% extends "auctions/layout.html" %}

{% block body %}
    <h2> {{ listing.name }}</h2>
    <div class="about_listing">
        <img src="{{ listing.image_url }}" alt="">
        <br>{{ listing.description }}
        <p>Price: <strong>{{ listing.cost }} $</strong></p>
        <p>Creator: <strong>{{ listing.creator }}</strong> and
        Winner: <strong>{{ listing.winner }}</strong></p>
        <p>
            <ul> Categories:
                {% for category in categories %}
                    <li> {{ category }}</li>        
                {% empty %}
                    <li>No categories :[</li>
                {% endfor %}
            </ul>
        </p>
    </div>
{% endblock %}
