{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
                <li>
                    Name: <strong>{{ listing.name }}</strong>, Cost: <strong>{{ listing.cost }}$</strong>
                    {% if listing.image_url %}
                        <br>{{ listing.image_url }}
                    {% else %}
                        <br>No image.
                    {% endif %}
                </li>
        {% empty %}
            No listings.    
        {% endfor %}
    </ul>
{% endblock %}
