{% extends "auctions/layout.html" %}

{% block body %}
    <h2> {{ listing.name }}</h2>
    <div class="about_listing">
        <img src="{{ listing.image_url }}" alt="">
        <br>{{ listing.description }}
        <p>Price: <strong>{{ listing.cost }} $</strong></p>
        <p>Creator: <strong>{{ listing.creator }}</strong></p>
        <p>
            <ul> Categories:
                {% for category in categories %}
                    <li> {{ category }}</li>        
                {% empty %}
                    <li>No categories :[</li>
                {% endfor %}
            </ul>
        </p>
    </div>
        {% if user_creator %}
        <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Close</button>
            </form>
        {% elif user.is_authenticated %}
            {% if upp_cost_error %}
                <div id="upp_cost_error">{{ upp_cost_error }}</div>
            {% endif %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input name="new_cost" type="nubmer" pattern="\d*" min="0">
                <button type="submit">Upp cost</button>
            </form>
        {% endif %}
{% endblock %}
