{% extends "auctions/layout.html" %}

{% block body %}
    <h2> {{ listing.name }}</h2>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="about_listing">
        <img class="display_image" src="{{ listing.image_url }}" alt="">
        <br>{{ listing.description }}
        <p>Price: <strong>{{ listing.cost }} $</strong></p>
        <p>Creator: <strong>{{ listing.creator }}</strong></p>
        {% if listing.temporary_winner %}
            <p>Current user winner: <strong>{{ listing.temporary_winner }}</strong></p>
        {% else %}
            <p>Current user winner: <strong>Nobody</strong></p>
        {% endif %}
        <p>
            <ul> Categories:
                {% for category in categories %}
                    <li> {{ category }}</li>        
                {% empty %}
                    <li>No categories :[</li>
                {% endfor %}
            </ul>
        </p>
    </div>
    <div class="logic_elements">
            <div class="winner_error">
                {% if winner_error %}
                    <div id="winner_error">{{ winner_error }}</div> 
                {% endif %}
            </div>

            {% if user_creator %}
                <form action="{% url 'close_listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Close</button>
                </form>
            {% elif user.is_authenticated %}
                {% if upp_cost_error %}
                    <div id="upp_cost_error">{{ upp_cost_error }}</div>
                {% endif %}
                <form action="{% url 'upp_cost' listing.id %}" method="post">
                    {% csrf_token %}
                    <input name="new_cost" type="nubmer" pattern="\d*" min="0">
                    <button type="submit">Upp cost</button>
                </form>
            {% endif %}
    </div>
    <div class="commentaries">
        <h5>Commentaries:</h5>
        {% for commentary in commentaries %}
            <p>
                {{ commentary.user }}: {{ commentary.commentary }}
                {% if user == commentary.user %}
                    <form action="{% url 'delete_commentaries' listing.id commentary.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete comment</button>
                    </form>
                {% endif %}
            </p>
        {% empty %}
            No comments.
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'add_commentaries' listing.id %}" method="post">
            {% csrf_token %}
            <h5>Add commentary</h5>
            <ul>
                {% for field in form %}
                    <li>{{ field.label_tag }} {{ field }}</li>
                {% endfor %}
            </ul>
            <button type="submit">Send commentary</button>
        </form>

        {% if watchlist %}
            <form action="{% url 'remove_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <h5>Remove from watchlist</h5>
                <button type="submit">Remove</button>
            </form>
        {% else %}
            <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <h5>Add to watchlist</h5>
                <button type="submit">Add</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
