@keyframes hello {
    from {
        font-size: 10px;
    } 
    to {
        font-size: 50px;
    }
}

#hello {
    animation-name: hello;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}



@keyframes welcome {
    0% {
        left: 0%;
        color: green;
    }
    25% {
        color: blue;
    }
    50% {
        left: 50%;
        color: red;
    }
    75% {
        color: blue;
    }
    100% {
        left: 0%;
        color: green;
    }
           
}

#welcome {
    position: relative;
    animation-name: welcome;
    animation-duration: 5s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
